/* CSS classes  */

/* NAVBAR CLASSES */
.menu-button {
    color: #FAF7F0;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 10px 10px 10px;
    /* font-size: large; */
    position: relative;
    letter-spacing: 0.1em;
    text-decoration: none;
}

.menu-button:hover:after {
    width: 100%;
    left: 0;
}

.menu-button:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #FAF7F0;
    transition: width 0.2s ease 0s, left 0.2s ease 0s;
    width: 0;
}

.menu {
    padding: 2vh 1vw 2vh 1vw;
    display: flex;
    justify-content: space-between;
    background-color: #7EC3A6;
}

.active::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    background: #FAF7F0;
    transition: width 0.2s ease 0s, left 0.2s ease 0s;
    width: 100%;
}

.offer-tile:hover {
    animation-name: tile-background-color-change;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    animation-play-state: running;
    background-color: #FFA89A;
}

.offer-tile:hover .offer-tile-text{
    animation-name: tile-text-color-change;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    animation-play-state: running;
    color: white;
}

@keyframes tile-background-color-change {
    0% {background-color: initial;}
    100% {background-color: #FFA89A;}
}

@keyframes tile-text-color-change {
    0% {color: initial;}
    100% {color: white;}
}